* {
    box-sizing: border-box;
}

body {
    background-color: white;
    margin-left: 0px;
    margin-right: 0px;
}

/* Navbar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

ul li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

li a:hover:not(.active) {
    background-color: #ababf9;
}

.active {
    background-color: #ababf9;
}

/* Main Title */

.mainTitle {
    font-size: 4.2em;
    text-align: center;
}

#main {
    padding: 13%;
}

/* Title of each section */

h3 {
    font-size: 2.35em;
}

/* Dimension and color of each section */

.specificSectionDimension {
    padding: 6%;
    width: 100%;
    height: 33.33%;
    overflow: hidden;
}

.specificSection {
    background-color: #ababf9; 
}

.specificSectionMethod {
    background-color: white; 
}

/* Size of text and color in each section */
.changeText {
    font-size: 1.5em;
}

.imageType {
    height: 400px; 
    border-radius: 10%;
}

/* Size of columns in all document */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
}

/* TABLE */
table, tbody {
    width: 50%;
    text-align: center;
    border-radius: 9px; 
    overflow: hidden;
    border-collapse: collapse;
}

tr td, tr th {
    padding: 10px;
}

/* Make a specific column different */
td:nth-child(1) {
    font-weight: bold;
}

tbody > tr:nth-child(even), thead > tr {
    background-color: #edff8e80;
}

tbody > tr:nth-child(odd), tfoot > tr {
    background-color: #a6b1f0b3;
}

/* First and last row make different */
tfoot > tr {
    font-weight: bold;
    font-size: 1.1em;
    border-top: 1px solid black;
}

thead > tr {
    border-bottom: 1px solid black;
    font-size: 1.1em;
}

/* Change color for element 'a' in text */
.aInText {
    text-decoration: none;
    color: blue;
}

.aInText:hover {
    color: red;
}

/* FOOTER */
footer {
    text-align: center;
}

.github {
    text-decoration: none;
    color: red;
    font-weight: bold;
}